- content_for :javascript do
  %script{ :type=>"text/javascript", :src=>"http://www.google.com/jsapi?key=#{maps_api_key}" }
  :javascript
    google.load("maps", "2.x");

  :javascript
    $(document).ready(function() {
      var map = new GMap2($('#map').get(0));
      map.addControl(new GSmallMapControl());
      map.setCenter( new GLatLng(0,0), 1);
    });

#map