- search_target = { :action => "search" }

=render :partial => 'countries/google_map'

- form_remote_tag(:url => search_target, :method => "get", :update => 'results_list_container') do   
  
  %h1 Countries
  = label :search, :country_name, "Filter by" 
  = text_field :search, :country_name
  = submit_tag "Search", :id => "filter_submit", :name => "submit", :class => "search"
  = observe_field 'search_country_name', :url => search_target, :method => "get", :frequency => 0.5, :update => 'results_list_container', :with => 'search[country_name]'

#results_list_container
  =render :partial => 'country_list'

- content_for :javascript do
  :javascript
    $(document).ready (function() { $('#filter_submit').css('display','none'); });