- search_target = { :action => "search" }

=render :partial => 'countries/google_map'

= form_tag(search_target, :method => "get") do   
  
  %h1 Countries
  = label :search, :country_name, "Filter by" 
  = text_field :search, :country_name
  = submit_tag "Search", :id => "filter_submit", :name => "submit", :class => "search"

#results_list_container
  =render :partial => 'country_list'

- content_for :javascript do
  :javascript
    $(document).ready (function() { 
      $('#filter_submit').css('display','none'); 
      $('#search_country_name').bind("keyup", function() {
        var form = $(this).parents("form");
        $.get(form.attr("action"), form.serialize(), function(html) { 
           $("#results_list_container").html(html); 
         });
      });
    });