- search_target = { :controller => 'places', :country_id => @country.country_code, :action => 'search'}

=render :partial => 'countries/google_map'

%ul
  %li
    =link_to("World", countries_path)
    %ul
      %li 
        Country: 
        =link_to(name_with_info(@country), :url => { :action => "show", :controller => "countries", :id => @country.country_code }, :update => "results_list_container", :method => :get, :remote => true)
        
        - form_tag(:url => search_target, :method => "get", :update => 'results_list_container', :remote => true) do   
          = label :search, :place_name, "Search for place within country " 
          = text_field :search, :place_name
          = submit_tag "Search", :id => "filter_submit", :name => "submit", :class => "search"
          
          / monitor for changes and update search results immediately
          = observe_field 'search_place_name', :url => search_target, :method => "get", :frequency => 0.5, :update => 'results_list_container', :with => 'search[place_name]'

        #results_list_container            
          =render :partial => 'places/places_list'
          

/ hide the filter button if user has javascript          
- content_for :javascript do
  :javascript
    $(document).ready (function() { $('#filter_submit').css('display','none'); });
